.card{
    display: flex;
    flex-direction: column;
  justify-content: center;
    height:350px ;
    width: 400px;
    min-width: 250px;
   padding: 1.5rem;
   position: relative;
   border-radius: 16px;
   background: #17141d;
   box-shadow: -1rem 0 3rem #000;
   transition: .25s;
}
.card:hover{
    transform: translateY(-1rem);
}
.card:hover~.card{
    transform: translateX(130px);
}

.card:not(:first-child){
    margin-left: -50px;
}

